APP_NAME=Dex API
ENVIRONMENT=development
FRONTEND_URL=http://localhost:3000
CORS_ORIGINS=http://localhost:3000,https://dex-list.vercel.app
TMDB_API_KEY=your_tmdb_api_key
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
